pip
python-memcached
python-dateutil==1.5
icalendar==2.1
vobject==0.8.1c
boto
django-debug-toolbar==0.8.3

python-sunlightapi

#Django==1.2
-e svn+http://django-ajax-selects.googlecode.com/svn/trunk/#egg=ajax-select
-e hg+http://bitbucket.org/ubernostrum/django-contact-form/#egg=django-contact-form
-e git://github.com/sunlightlabs/django-mediasync.git#egg=django-mediasync
-e git://github.com/sunlightlabs/django-layar.git#egg=django-layar

http://python-scribd.googlecode.com/files/python-scribd-1.1.0.tar.gz
