{% load humanize %}
	<dl class="fourCol colLt">
		<dt>
			Party Time events this week
		</dt>
		<dd>
			<span>{{ parties_this_week|intcomma }}</span>
		</dd>
		<dt>
			Party Time events this month
		</dt>
		<dd>
			<span>{{ parties_this_month|intcomma }}</span>
		</dd>
	</dl>
	<dl class="fourCol colLt">
		<dt>
			Party Time events this year
		</dt>
		<dd>
			<span>{{ parties_this_year|intcomma }}</span>
		</dd>
		<dt>
			Presidential invites in Party Time
		</dt>
		<dd>
			<span>{{ num_presidential_parties|intcomma }}</span>
		</dd>
	</dl>
	<dl class="fourCol colRt">
		<dt>
			Hosts in Party Time this year
		</dt>
		<dd>
			<span>{{hosts|intcomma}}</span>
		</dd>
		<dt>
			Beneficiaries in Party Time this year
		</dt>
		<dd>
			<span>{{beneficiaries|intcomma}}</span>
		</dd>
	</dl>
	<div class="clear"></div>
	<a href="/calendar/" class="more centered">Check out this week’s social calendar</a>
