{% extends "publicsite_redesign/sidebar_base.html" %}

{% block title %}FAQ - {{ block.super }}{% endblock %}

{# Set the nav highlight #}
{% block nav-api %}class="active"{% endblock %}
		
{% block mainbar %}
		
<h2>BYOP: Build Your Own Party (Data Pack)</h2>
<p>
	Here's where to get the real goods--all the underlying, raw data that the Sunlight Foundation has created based on fundraising invitations collected in Party Time. As we enter information on new invitations, the database is updated automatically.
</p>
<p>
	There are several ways to get your Party Time data fix, including an API for developers and email alerts for reporters.
</p>
<p>
	The database contains records of invitations for fundraisers and other events feting lawmakers and congressional candidates collected by the project from anonymous lobbyist sources, political websites and media reports and are displayed on our <a href="http://www.politicalpartytime.com">public website</a>. 
</p>
<p>
	Invitations gathered date back to 2006; however, most begin with the 2008 calendar year when we began collecting invitations in earnest and launched this project (July 2008). The data are input by Sunlight interns and staffers. While we check for duplicate entries for particular events and errors, it is always worth checking the original source, the invitations for display on our website, for accuracy. 
</p>
<p>
	Because these events are not required to be reported in any official manner, we only know about the events we&#39;ve received information about. We encourage the public to <a href="/upload/">send us</a> more information about events. 
</p>
<p>
	These documents are posted as a public service in the interest of creating more transparency about the relationships between lobbyists and lawmakers. Sunlight is not responsible for the content of the invitations themselves (including erroneous information) or for verifying whether the events advertised in the invitations actually occurred.
</p>

<h3 id="api_description">API</h3>
<div style="border: 1px solid black; padding: 5px;"><b>NOTE: As of Mar. 8, API users will be required to use a <a href="http://services.sunlightlabs.com/accounts/register/">Sunlight API key</a> to make API calls. The key is free and does not restrict access to the data. The structure of the API has changed slightly as well; please see below.</b></div>
<p>
	<b>Overview </b><br /> The base url for the API is politicalpartytime.org/api/v1 ; any addresses listed below must be appended to the base url. All API calls require an active <a href="http://services.sunlightlabs.com/accounts/register/">Sunlight API key</a> and a format (either 'json' or 'xml') as querystring arguments. For instance, a call to describe event #31 would look like /event/31/?format=json&apikey=[ your API key ]. API <a href="#methods">methods</a> and <a href="#return_types">return types</a> are described below.
</p>
<p>Return objects consist of two parts; a meta object describing the results returned, and a list of the returned objects. The meta object looks like the following:
    <br><pre>{"meta": {"limit": 50, "next": "/api/v1/event/?apikey=[API Key]&limit=50&offset=50&format=json", "offset": 0, "previous": null, "total_count": 17246}</pre><br>
    The 'next' variable is the next page in this result set; the previous page--which in the above is null, is the previous page. The 'total_count' is the total number of objects matching this description, though not all are returned. The 'limit' is the maximum number of objects returned per page.</p>
<h3>Universal Parameters</h3>
<p>
All API calls can be given a 'limit' and an 'offset' parameter, though the limit can not be greater than 50. The offset must be positive.</p>
<p id="methods"><h3>API Methods</h3><br />
<b>/event/</b><br />Return a list of <a href="#events">events</a>. With no filters will return all events. Optional parameters are: 
<dl style="margin-left:15px;">
	<dt>
		<code>beneficiaries__crp_id</code>
	</dt>
	<dd>
		Lawmaker ID used by the Center for Responsive Politics.<br><pre>/event/?beneficiaries__crp_id=N00003675&format=json&apikey=[API key]</pre>
	</dd>
	<dt>
		<code>start_date__gt</code>
	</dt>
	<dd>
		Filter by events that started after a given date. Dates should be formatted YYYY-MM-DD.<pre>/event/?start_date__gt=2012-10-01&format=json&apikey=[API key]</pre>
	</dd>
    <dt>
		<code>host__id </code>
	</dt>
	<dd>Internal host ID<br><pre>/event/?host_id=12&format=json&apikey=[API key]</pre>
	</dd>
    <dt>
		<code>beneficiaries__state </code>
	</dt>
	<dd>Two-letter postal code indicating what state the event beneficiary represents. Presidents do not represent a single state.<br><pre>/event/?beneficiaries__state=CT&format=json&apikey=[API key]</pre>
	</dd>
</dl>
</p>
<p>
<b>/event/&lt;event_id&gt;/</b><br />Return details about a single <a href="#events">event</a> referenced by ID. No additional parameters are required.
<dl style="margin-left:15px;">
	<dt>
		<code></code>
	</dt>
	<dd>
		<pre>/event/31/?format=json&apikey=[API key]</pre>
	</dd>

</dl>
</p>


<p>
<b>/lawmaker/</b><br />Return details about <a href="#legislators">legislators</a>. With no additional parameters, will return all legislators.
<dl class="api" style="margin-left:15px;">
	<dt>
		<code>crp_id</code>
	</dt>
	<dd>
		Show only the legislator identified by this used by the Center for Responsive Politics ID.
 <pre>/lawmaker/?format=json&crp_id=N00003675&apikey=[API key]</pre>
	    </dd>
</dl>
</p>

<p>
<b>/lawmaker/&lt;lawmaker_id&gt;/</b><br />Return details about a single <a href="#legislators">legislator</a> referenced by internal ID. No additional parameters are required.

<dl class="api" style="margin-left:15px;">
	<dt>
		<code>crp_id</code>
	</dt>
	<dd>
		<pre>/lawmaker/19/?format=json&apikey=[API key]</pre>
	    </dd>
</dl>
</p>
    
<p>
<b>/host/</b><br />Return details about all <a href="#hosts">hosts</a>. 
</p>

<p>
<b>/host/&lt;host_id&gt;/</b><br />Return details about a single <a href="#hosts">host</a> identified by internal ID.
<dl class="api" style="margin-left:15px;">
<dt>
	<code>host_id</code>
</dt>
<dd>
	 Internal host ID. <pre>/host/?host_id=12&format=json&apikey=[API key]</pre>
</dd>
</dl>
</p>


<p id="return_types"><h3>API return types</h3></p>

<p id="events"><b>Events</b><br />Each fundraiser or other party includes the following data, though some fields may be empty.</p>

<dl class="api" style="margin-left:15px;">
	<dt>
		<code>Beneficiaries</code>
	</dt>
	<dd>
		A list of beneficiaries, typically lawmakers, who are raising money at the event. Some events raise money for many lawmakers, so this list may be quite long. For more details see <a href="#legislators">legislators</a>.
	</dd>
	
	<dt>
		<code>canceled</code>
	</dt>
	<dd>Is the event canceled ? 
	</dd>

	<dt>
		<code>checks_payable_to_address</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>contributions_info</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>distribution_paid_for_by</code>
	</dt>
	<dd>The entity who sent the event--typically the sponsoring committee
	</dd>
	
	<dt>
		<code>end_date</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>end_time</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>entertainment</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>hosts</code>
	</dt>
	<dd>A list of event <a href="#hosts">hosts</a>.
	</dd>
	
	<dt>
		<code>id</code>
	</dt>
	<dd>An unique internal ID. This is unique with respect to invitations; occasionally we enter different versions of the same event twice. 
	</dd>
	
	<dt>
		<code>is_presidential</code>
	</dt>
	<dd>Is this a presidential fundraiser? 
	</dd>
	
	<dt>
		<code>make_checks_payable_to</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>postponed</code>
	</dt>
	<dd>
	</dd>

	<dt>
		<code>resource_uri</code>
	</dt>
	<dd>The local API address for this specific event.
	</dd>
	
	<dt>
		<code>rsvp_info</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>start_date</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>start_time</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>venue</code>
	</dt>
	<dd>The location of the event. For more details, see <a href="#venues">venues</a>.
	</dd>
						

</dl>



<p id="legislators"><b>Legislators / Leadership PACs</b><br />Not all legislators are present; only those who we have a record of hosting or benefitting from a fundraiser. Leadership PACs are also entered in this table; if that's the case, the lawmaker's name is given in the 'affiliate' field</p>
<dl class="api" style="margin-left:15px;">
	<dt>
		<code>affiliate</code>
	</dt>
	<dd>If this is a leadership PAC, this field is the lawmaker's name.
	</dd>
	
	<dt>
		<code>crp_id</code>
	</dt>
	<dd>A unique ID assigned by the Center for Responsive Politics. 
	</dd>


	<dt>
		<code>district</code>
	</dt>
	<dd>What house district does this lawmaker represent? Absent for other officials.
	</dd>
	
	<dt>
		<code>id</code>
	</dt>
	<dd>A unique internal ID.
	</dd>
	
	<dt>
		<code>name</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>party</code>
	</dt>
	<dd>
	</dd>
	
	
	<dt>
		<code>resource_uri</code>
	</dt>
	<dd>URL for API page with these details.
	</dd>
	
	<dt>
		<code>state</code>
	</dt>
	<dd>What state does this lawmaker represent?
	</dd>
	
	<dt>
		<code>title</code>
	</dt>
	<dd>
	</dd>
	
	
	
	
</dl>


<p id="hosts"><b>Hosts</b><br />These are people listed as hosts on the invitation. They can be either lawmakers or regular citizens. </p>
<dl class="api" style="margin-left:15px;">
	
	<dt>
		<code>crp_id</code>
	</dt>
	<dd>A unique ID assigned by the Center for Responsive Politics. 
	</dd>
	
	<dt>
		<code>id</code>
	</dt>
	<dd>A unique internal ID.
	</dd>
	
	<dt>
		<code>name</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>resource_uri</code>
	</dt>
	<dd>URL for API page with these details.
	</dd>
	
</dl>


<p id="venues"><b>Venues</b><br />The locations where fundraisers are held</p>
<dl class="api" style="margin-left:15px;">


	<dt>
		<code>address1</code>
	</dt>
	<dd>
	</dd>
	
	<dt>
		<code>address2</code>
	</dt>
	<dd>
	</dd>
	
	
	<dt>
		<code>city</code>
	</dt>
	<dd>
	</dd>
	

	<dt>
		<code>id</code>
	</dt>
	<dd>A unique internal ID.
	</dd>

	
	<dt>
		<code>resource_uri</code>
	</dt>
	<dd>URL for API page with these details.
	</dd>
	

	<dt>
		<code>state</code>
	</dt>
	<dd>
	</dd>

	
	<dt>
		<code>venue_name</code>
	</dt>
	<dd>
	</dd>
    	
	<dt>
		<code>zipcode</code>
	</dt>
	<dd>
	</dd>

</dl>
<h3>RSS</h3>
<p>
	You can find the RSS feed for Party Time here: <a href="http://politicalpartytime.org/feeds/pol/N00009668/">http://politicalpartytime.org/feeds/pol/N00009668/</a>
</p>
<h3>CSV</h3>
<p>
	All of the Party Time data is available as a single CSV dump <a href="/www/partytime_dump_all.csv">here.  (You may need to right-click to save the file on your computer.)</a>
</p>
<h3>relational ZIP</h3>

<p>
	And as a relational "zip" file <a href="/www/partytime_dump.zip">here</a>.
</p>
<div class="clear"></div>

{% endblock %}
	
	