{% extends "publicsite_redesign/base.html" %}
{% load partytime capture truncate %}

{% block headjs %}<script type="text/javascript" src="http://cdn.gigya.com/js/gigyaGAIntegration.js" ></script>
{% endblock %}

{% block title %}Committees - {{ block.super }}{% endblock %}

{% block container %}
{% captureas share_title %}Follow the latest from the political money trail with @SFPartyTime (via @SunFoundation){% endcaptureas %}
<div class="module nineCol colLt entity">
		{% if lawmaker.image_available %}<img src="{{ lawmaker.get_image_url }}" alt="{{ lawmaker.title }} {{ lawmaker.name }} ({{ lawmaker.party }}, {{ lawmaker.state }})" class="oneCol colLt">{% endif %}
		<div class="leg sevenCol colRt">
			<h2 class="">
			Congressional Committees</span>
			</h2>
			<p class="tip">Click on a committee name below to see current membership, and events</p>
			<div class="clear"></div>
			<div class="share-buttons gigya entity" style="margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px;" id="share-buttons"
                 data-socialite="auto"
                 data-services="facebook,twitter,googleplus,email"
                 data-options="showCounts=right&amp;title={{ share_title|safe|urlencode }}&amp;description=Follow%20the%20political%20money%20trail%20with%20Sunlight%20Foundation's%20Party%20Time!%20Know%20of%20an%20upcoming%20political%20fundraiser%3F%20Anonymously%20upload%20it%3A%20http%3A%2F%2Fpoliticalpartytime.org%2Fupload%2F&amp;url={{ current_url|urlencode }}"
                 data-twitter-options="defaultText={{ share_title|safe|truncatechars:140|urlencode }}"></div>

			<div class="clear"></div> 		    

		</div>
	</div>

		<div class="uploadSmall module colRt threeCol ">
			<h3 class="textReplace">Extend an Invite</h3>
			<a class="button" href="/upload/">Upload</a>
		</div>
	<div class="clear"></div>

	<div class="partyList last module committee_list">
	  <h4>Senate Committees</h4>
	    <ul class="committees clearfix">
			{% for committee in senate_committees %}
			<li>
				<a href="{{committee.get_absolute_url}}">{{committee.title}}</a> 
			</li>
			{% endfor %}
	    </ul>
		<h4>Joint Committees</h4>
	    <ul class="committees clearfix">
			{% for committee in joint_committees %}
			<li>
				<a href="{{committee.get_absolute_url}}">{{committee.title}}</a> 
			</li>
			{% endfor %}
	    </ul>
			<h4>House Committees</h4>
		    <ul class="committees clearfix">
				{% for committee in house_committees %}
				<li>
					<a href="{{committee.get_absolute_url}}">{{committee.title}}</a> 
				</li>
				{% endfor %}
		    </ul>
		<div class="tableHat twelveCol aboutParties">
			
			<div class="clear"></div>
		</div>
		

		<div class="pagination">
		</div>
	</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script type="text/javascript">

function gotoscout(feedurl) {
	scouturl = "http://scout.sunlightfoundation.com/import/feed?url=" + encodeURIComponent(feedurl);
	appended_url = feedurl.replace("http://reporting.sunlightfoundation.com/outside-spending/recent-FEC-filings/","");
	var gotoscout = confirm("You're being sent to Scout to subscribe to feeds for your selections. If you don't have an account with Scout you'll be prompted to create one.");
	if (gotoscout) {
		window.location = scouturl;
		return false;
	}
}

</script>
<style>
#share-buttons img {border:none;}
</style>

{% endblock %}
