{% extends "publicsite_redesign/base.html" %}
{% load partytime capture truncate %}

{% block headjs %}<script type="text/javascript" src="http://cdn.gigya.com/js/gigyaGAIntegration.js" ></script>
{% endblock %}

{% block title %}	{{ committee.title }} - {{ block.super }}{% endblock %}


{% block opengraph %}
  <meta property="og:title" content="{{ committee.title }} | Political Party Time">
  <meta property="og:description" content="From the early hours of the morning until late in the evening, politicians are breaking bread and sipping cocktails with donors. Sunlight’s Party Time lets you know who’s fundraising and where.">
  <meta property="og:type" content="cause">
  <meta property="og:url" content="http://politicalpartytime.org{{ committee.get_absolute_url }}">
  
{% endblock %}

		
{% block container %}
{% captureas share_title %}Follow the latest from the political money trail with @SFPartyTime (via @SunFoundation){% endcaptureas %}

<div class="module nineCol colLt entity">
		<div class="leg sevenCol colRt">
			<h2 class="">
				{{ committee.title }} 
			</h2>
			<div class="clear"></div>
			<div class="share-buttons gigya entity" style="margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px;" id="share-buttons"
                 data-socialite="auto"
                 data-services="facebook,twitter,googleplus,email"
                 data-options="showCounts=right&amp;title={{ share_title|safe|urlencode }}&amp;description=Follow%20the%20political%20money%20trail%20with%20Sunlight%20Foundation's%20Party%20Time!%20Know%20of%20an%20upcoming%20political%20fundraiser%3F%20Anonymously%20upload%20it%3A%20http%3A%2F%2Fpoliticalpartytime.org%2Fupload%2F&amp;url={{ current_url|urlencode }}"
                 data-twitter-options="defaultText={{ share_title|safe|truncatechars:140|urlencode }}"></div>
			<ul class="clearfix social">
				
				
			</ul>

			<div class="clear"></div>
			<h4>Current Committee Leadership</h4>
			<ul class="committees clearfix">
				{% for lawmaker in committee_leadership %}
				{% if lawmaker.affiliate %}{% else %}
					<a href="{% if lawmaker.crp_id %}{% url partytime_pol_detail lawmaker.crp_id %}{% else %}{% url partytime_search 'Beneficiary' lawmaker.affiliate|urlencode %}{% endif %}" style="display:inline;">{{ lawmaker.title }} {{ lawmaker.name }}</a> <span class="role">{{ lawmaker|committee_position:committee }}</span>
				{% endif %}
				{% endfor %}
			</ul>
			
			<h4>Current Committee Members</h4>
			<ul class="committees clearfix">
				{% for lawmaker in committee_membership %}
				{% if lawmaker.affiliate %}{% else %}
					<a href="{% if lawmaker.crp_id %}{% url partytime_pol_detail lawmaker.crp_id %}{% else %}{% url partytime_search 'Beneficiary' lawmaker.affiliate|urlencode %}{% endif %}" style="display:inline;">{{ lawmaker.title }} {{ lawmaker.name }}</a>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>

		<div class="uploadSmall module colRt threeCol ">
			<h3 class="textReplace">Extend an Invite</h3>
			<a class="button" href="">Upload</a>
		</div>
	<div class="clear"></div>

	<div class="partyList last module">
		<div class="tableHat twelveCol aboutParties">
			
			
		  <h3 class="">
				{{ event_count }} Party Time events for current members of the {{ committee.title}}
			</h3>
			<div class="pagination">
  		  {{ paginator_html|safe }}
  		</div>
			<div class="clear"></div>
		</div>
		<table>
			<thead>
				{{ table_header|safe}}
			</thead>
			<tbody>
				{% for result in results %}
				<tr class="{% cycle 'even' 'odd' %}">
					<td>
						{{ result.start_date|date:"m/d/y"}}<br><a href="{{result.get_absolute_url}}">See&nbsp;invite</a>
					</td>
					<td>
						{% for ben in result.beneficiaries.all %}{%if ben.affiliate %}
						<a href="{% url partytime_search 'Beneficiary' ben.name|urlencode %}">{{ ben.name }}</a> (<a href="{% if ben.crp_id %}{% url partytime_pol_detail ben.crp_id %}{% else %}{% url partytime_search 'Beneficiary' ben.affiliate|urlencode %}{% endif %}" style="display:inline;">{{ ben.affiliate }}</a>)
						{%else%}
						<a href="{% if ben.crp_id %}{% url partytime_pol_detail ben.crp_id %}{% else %}{% url partytime_search 'Beneficiary' ben.name|urlencode %}{%endif%}" style="display:inline;">{{ ben }}</a>
						{%endif%}{% endfor %}
					</td>
					<td>
						{% with result.hosts.all as hosts %}
						{% if hosts %}
					    {% for host in hosts %}<a href="{% url partytime_search 'Host' host|urlencode %}" style="display:inline;">{{ host }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
						{% endif %}
						{% endwith %}
					</td>
					<td>
						{% if result.entertainment %}{{ result.entertainment }}{% else %}Fundraiser{% endif %}
					</td>
					<td>
						{% if result.venue.venue_name %}<a href="{% url partytime_search 'Venue_Name' result.venue.venue_name|urlencode %}" style="display:inline">{{ result.venue.venue_name }}</a>{% endif %}{% if result.venue.address1 %}{% if result.venue.venue_name %}, {% endif %}{{ result.venue.address1 }}{% endif %}{% if result.venue.address2 %} {{ result.venue.address2 }}{% endif %}{% if result.venue.city %}, {{ result.venue.city }}{% endif %}{% if result.venue.state %}, {{ result.venue.state }}{% endif %}
					</td>
				</tr>

				{% endfor %}

			</tbody>
		</table>
		
		<div class="pagination">
		  {{ paginator_html|safe }}
			
		</div>
	</div>
{% endblock %}
	
{% block js %}
{{ block.super }}
<script type="text/javascript">

function gotoscout(feedurl) {
	scouturl = "http://scout.sunlightfoundation.com/import/feed?url=" + encodeURIComponent(feedurl);
	appended_url = feedurl.replace("http://reporting.sunlightfoundation.com/outside-spending/recent-FEC-filings/","");
	var gotoscout = confirm("You're being sent to Scout to subscribe to feeds for your selections. If you don't have an account with Scout you'll be prompted to create one.");
	if (gotoscout) {
		window.location = scouturl;
		return false;
	}
}

</script>

<style>
#share-buttons img {border:none;}
</style>

{% endblock %}
	