{% extends "publicsite_redesign/sidebar_base.html" %}

{% block title %}FAQ - {{ block.super }}{% endblock %}

{# Set the nav highlight #}
{% block nav-faq %}class="active"{% endblock %}
		
{% block mainbar %}
		
<h2>FAQ</h2>

<h3>Didn&#39;t Congress pass a new ethics law that did away with parties and freebies for lawmakers?</h3>

<p>The Honest Leadership and Open Government Act (HLOGA) of 2007 put many new restrictions on how and whether members of Congress may be feted. For example, members of Congress may no longer accept a gift of any cost from a registered lobbyist. However, it is perfectly legal for lobbyists to give members of Congress campaign contributions. A lobbyist can go to lunch with a member of Congress. Instead of paying for that lunch directly, he or she can make a political contribution to the lawmaker&#39;s campaign. Then the lawmaker can pick up the check. Indeed, news reports, as in this <a href=" http://www.nytimes.com/2008/04/20/washington/20lobby.html?pagewanted=1&#38;_r=1&#38;adxnnl=1&#38;adxnnlx=1214927545-HsZnDKmYj4xSWCYIi8e5Xg">New York Times piece</a>, have noted that HOGLA might have the unintended effect of driving up campaign fundraising and the number of fundraising parties.</p>

<h3>But wait, didn&#39;t the new ethics law specifically say that lobbyists couldn&#39;t throw parties at the political conventions anymore?</h3>

<p>What the HLOGA says and how the House and Senate Ethics Committees have interpreted it are two different things. The law does, indeed, state that lawmakers may not participate:</p>

<blockquote>in an event honoring that Member, other than in his or her capacity as a candidate for such office, if such event is directly paid for by a registered lobbyist under the Lobbying Disclosure Act of 1995 or a private entity that retains or employs such a registered lobbyist. (<a href="http://www.opencongress.org/bill/110-s1/text">Bill</a>)</blockquote>

<p>However, the House Committee on Standards of Official Conduct has interpreted this to allow first, parties that do not occur on the actual days of the conventions, and two, parties honoring a state delegation or multiple lawmakers (<a href="http://ethics.house.gov/Media/PDF/Memo%2012-11-07.pdf">PDF</a>).  Fundraising events are also outside the scope of the law (<a href="http://ethics.house.gov/Media/PDF/Pink_sheet_conventions_5-08.pdf">PDF</a>). So are “widely-attended events”—receptions where food is limited to hors d&#39;oeuvres, beverages and “similar food of nominal value.”</p>

<p>The Senate Committee on Ethics&#39; guidance is a bit more strict than the House&#39;s, specifically prohibiting lobbyist-funded parties for multiple lawmakers (<a href="http://ethics.senate.gov/downloads/pdffiles/events%20honoring%20members%20at%20the%20conventions.pdf">PDF</a>).  However, parties are still permissible for days before and after the conventions. They are also allowed for parties where a lawmaker is honored along with people who are not members of Congress (<a href="http://ethics.senate.gov/downloads/pdffiles/events%20honoring%20members%20at%20the%20conventions.pdf">PDF</a>). </p>

<h3>All lawmakers put on fundraisers. What&#39;s the big deal?</h3>

<p>By shining light on these events, the Sunlight Foundation hopes to provide another way for citizens to see how policy is influenced by insiders. Sure, many of these fundraisers may be routine. But what lobbyists and other insiders get by attending these fundraisers is something most of us don&#39;t: access. The rest of us, who don&#39;t have the kind of cash it takes to attend, must satisfy ourselves with calling a lawmaker&#39;s office, signing a petition or sending a letter. These are all worthy activities, but unlikely to make quite the same impression that a lobbyist handing over a $5,000 check does. </p>

<h3>I&#39;m often invited to political fundraisers. How do I submit my invitations?</h3>

<p>Simply submit it <a href="/upload/">here</a> or attach in an email to partytime@sunlightfoundation.com. If you would prefer to get us the invitation in some other way, or you have so many invitations that you need a different method to get them to us, please contact our <a href="/contact/">communications team</a>. We promise anonymity—your name will not be attached to the invitation.</p>

<h3>So, are Party Time and the Sunlight Foundation anti-lobbyist?</h3>

<p>No. Indeed, some of us are even registered lobbyists. A lobbyist&#39;s job is to present facts, synthesize arguments and educate members of Congress and their staff. There&#39;s nothing wrong, or demeaning or sleazy about that. However, we do believe that to make informed decisions, citizens need access to full and rapid disclosure of how lobbyists ply their trade. Most ordinary people cannot afford to hire a high paid lobbyist to represent their point of view about issues that matter to them. Seeing who is trying to influence their representatives, and how, provides valuable information. </p>



{% endblock %}
	
	