{% extends "publicsite_redesign/base.html" %}
{% load partytime_redesign %}
{% load static %}



{# override this to make the partystats in the footer go away #}
{% block partystats_footer %}
{% endblock %}
{% block css %}
<style>
    .share-buttons .twitter-share iframe { width: 95px !important; margin-top:12px !important; }
    .share-buttons .facebook-like { margin-right: 5px; }
</style>
{% endblock %}
{% block headjs %}<script type="text/javascript" src="http://cdn.gigya.com/js/gigyaGAIntegration.js" ></script>{% endblock %}

{% block container %}
<div class="callOut clearfix module">
	<div class="colLtSm eightCol">

		<h2 class="tagline">
			On the political money trail
		</h2>
		<p>
			From the early hours of the morning until late in the evening, politicians are breaking bread and sipping cocktails with donors. Sunlight’s Party Time lets you know who’s fundraising and where.
		</p>
	</div>
	<div class="uploadLarge colRt fourCol">
		<h3 class="textReplace">Extend an Invite</h3>
		<a class="button" href="/upload/">Upload</a>
		<div class="share-buttons gigya home" style="margin-top:42px; margin-bottom:0px; margin-left: 30px; padding-top:0px; padding-bottom:0px;" id="share-buttons"
             data-socialite="auto"
             data-services="facebook-like,twitter-share,googleplus,email"
             data-options="showCounts=right&amp;title=Political%20Pary%20Time&amp;description=Follow%20the%20political%20money%20trail%20with%20Sunlight%20Foundation's%20Party%20Time!%20Know%20of%20an%20upcoming%20political%20fundraiser%3F%20Anonymously%20upload%20it%3A%20http%3A%2F%2Fpoliticalpartytime.org%2Fupload%2F&amp;url=http%3A%2F%2Fpoliticalpartytime.org"
             data-twitter-share-options="defaultText=Follow%20the%20political%20money%20trail%20w%2F%40SunFoundation's%20%40SFPartyTime"></div>
	</div>
</div>
<div class="module current">
	<div class="colLtSm fourCol blog">
		<h3>
			Latest Blog Entries
		</h3>
		<ol>
			{% for post in post_list %}
			<li>
				<h5>
					<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
				</h5>
				<time pubdate="{{ post.post_date|date:"c" }}">{{ post.post_date|date:"F j, Y" }}</time>
				<span class="author">By {{post.author.display_name }}</span>
			</li>

			{% endfor %}
		</ol>
		<a href="/blogindex/" class="more">More on blog</a>

	</div>
	<div class="colLtSm fourCol current events">
		<h3>
			Newest Events Added
		</h3>
		<ol>
			{% for event in newest_events %}
			{% renderevent event %}
			{% endfor %}
		</ol>
		<a href="/newly-added/" class="more">View more</a>
	</div>
	<div class="colRt fourCol current events specialEvent">
		<h3>
			Upcoming Events
		</h3>
		<ol>
			{% for event in upcoming_events %}
			{% renderevent event %}
			{% endfor %}
		</ol>
		<a href="/upcoming/" class="more">View more</a>
		<!-- Hide the 2012 convention link
		<a href="/search/Entertainment_Type/convention/" class="convention badge">2012 Convention Parties</a>
		-->
		<!-- Hide the inauguration button too
		<a href="/search-all/?q=2013+Inauguration" class="inauguration badge">2013 Inaugural Parties</a>
		-->
	</div>
	<div class="clear"></div>
</div>
<div class="graph featured module">
	<h2>
		The Year in Party Time
	</h2>
	<div id="yearInParties" style="min-width: 400px; height: 200px; margin: 0 auto">
	</div>
{% include "publicsite_redesign/includes/partystats_body.html" %}
</div>
<div class="module last">
	<div class="colLt threeCol events">
		{% load cache %}
		{% cache cachetime3 'partiesfor2013inauguration'  %}
		{% partiesfor2013inauguration %}
		{% endcache %}
	</div>
	<div class="colLt threeCol events">
		{% load cache %}
		{% cache cachetime2 'partiesheldforleadership'  %}
		{% partiesheldforleadership %}
		{% endcache %}
	</div>
	<div class="colLt threeCol events">
		{% load cache %}
		{% cache cachetime1 'partieshostedbyleadership'  %}
		{% partieshostedbyleadership %}
		{% endcache %}
	</div>
	<div class="colRt threeCol events">
		{% load cache %}
		{% cache cachetime4 'partiesheldforcommitteeleadership'  %}
		{% partiesheldforcommitteeleadership %}
		{% endcache %}
	</div>
	<div class="clear"></div>
</div>
{% endblock %}

{% block js %}
{{ block.super }}

<script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/highcharts.js"></script>
{% load cache %}
{% cache cachetime4 'yearinparties'  %}
<script type="text/javascript">{% yearinpartiesjs %}</script>
{% endcache %}
<script src="{% get_static_prefix %}js/gray.js" type="text/javascript"></script>
{% endblock %}
