{% extends "publicsite_redesign/base.html" %}
{% load partytime_redesign %}

{% block title %}Search results for '{{ query }}' - {{ block.super }}{% endblock %}

		
{% block container %}
<div class="module nineCol colLt search">
	<h2 class="wHint wActions">
		Search results for '{{ query }}'
	</h2>
	<div class="clear"></div>

</div>
	<div class="colRt threeCol uploadSmall module">
		<h3 class="textReplace">Extend an Invite</h3>
		<a class="button" href="">Upload</a>
	</div>
<div class="clear"></div>

<section class="partyList module blog">

	
	<h3>
		From the blog
	</h3>

	<article class="module short odd">
		<time pubdate="">
			<span class="month">Aug</span>
			<span class="day">27</span>
			<span class="year">2012</span>
		</time>
		<div class="colRt elevenCol">
			<h1 class="h2">
				<a href="">Did AT&T rent out sprawling eatery to influence lawmakers all week?</a>
			</h1>
			<address class="author">by Keenan Steiner</address>

			<p>
				When Tampa Bay Online reported a few weeks back that a lobbyist rented out a sprawling, upscale restaurant for the whole week of the Republican National Convention, they provided a host of details about the restaurant, the big tabs that the GOP high rollers ...
			</p>
		</div>
		<div class="clear"></div>
	</article>
	<article class="module short even">
		<time pubdate="">
			<span class="month">Aug</span>
			<span class="day">27</span>
			<span class="year">2012</span>
		</time>
		<div class="colRt elevenCol">
			<h1 class="h2">
				<a href="">Did AT&T rent out sprawling eatery to influence lawmakers all week?</a>
			</h1>
			<address class="author">by Keenan Steiner</address>

			<p>
				When Tampa Bay Online reported a few weeks back that a lobbyist rented out a sprawling, upscale restaurant for the whole week of the Republican National Convention, they provided a host of details about the restaurant, the big tabs that the GOP high rollers ...
			</p>
		</div>
		<div class="clear"></div>
	</article>


	{% for post in post_list %}
	<article class="module short even">
		<time datetime="{{ post.post_date|date:"c"}}" pubdate="">
			<span class="month">{{ doc.start_date|date:"N"}}</span>
			<span class="day">{{ doc.start_date|date:"d"}}</span>
			<span class="year">{{ doc.start_date|date:"Y"}}</span>
		</time>
		<div class="colRt elevenCol">
			<h1 class="h2">
				<a href="{{post.get_absolute_url}}">{{ post.title }} </a>
			</h1>
			<address class="author">{{post.author.display_name }}</address>
			{{ post.content|removetags:"img iframe object"|truncatewords:100|safe|linebreaks }}
		</div>
		<div class="clear"></div>
	</article>
	{% endfor %}

	<div class="pagination clearfix">
		<span class="next"> <a class="more textReplace" href="">View More Blog Results</a></span>
	</div>





</section>

{% if error_message %}
<section class="partyList module">

	
	<h3>
		{{ error_message }}
	</h3>
</section>
{% endif %}

{% if lawmakers %}
<section class="partyList module">

	
	<h3>
		PAC / Lawmaker matches
	</h3>
	<table>
		<thead>
			<tr>
				<th>
					Name
				</th>
			
			</tr>
		</thead>
		<tbody>
			{% for ben in lawmakers %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>
					{%if ben.affiliate %}
					<a href="{% url partytime_search 'Beneficiary' ben.name|urlencode %}" style="display:inline;">{{ ben.name|highlightsearchterm:query|safe }}</a> (<a href="{% if ben.crp_id %}{% url partytime_pol_detail ben.crp_id %}{% else %}{% url partytime_search 'Beneficiary' ben.affiliate|urlencode %}{% endif %}" style="display:inline;">{{ ben.affiliate|highlightsearchterm:query|safe }}</a>)
					{%else%}
					<a href="{% if ben.crp_id %}{% url partytime_pol_detail ben.crp_id %}{% else %}{% url partytime_search 'Beneficiary' ben.name|urlencode %}{%endif%}">{{ ben|highlightsearchterm:query|safe }}</a>
					{%endif%}
				</td>
				
			</tr>
			{% endfor %}
			</tbody>
		</table>
		
	</section>
{% endif %}


{% if hosts %}
<section class="partyList module">

	
	<h3>
		Host matches
	</h3>
	<table>
		<thead>
			<tr>
				<th>
					Host name
				</th>
			
			</tr>
		</thead>
		<tbody>
			{% for host in hosts %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>
					<a href="/search/host/{{ host.name }}/" style="display:inline;">{{ host.name|highlightsearchterm:query|safe }}</a> 
				</td>
				
			</tr>
			{% endfor %}
			</tbody>
		</table>
		
	</section>
{% endif %}

{% if venues %}
<section class="partyList module">

	
	<h3>
		Venue matches
	</h3>
	<table>
		<thead>
			<tr>
				<th>
					Venue
				</th>
			
			</tr>
		</thead>
		<tbody>
			{% for venue in venues %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>
					<a href="/search/venue_name/{{ venue.venue_name }}/" style="display:inline;">{{ venue.venue_name|highlightsearchterm:query|safe }}</a>
				</td>
				
			</tr>
			{% endfor %}
			</tbody>
		</table>
		
	</section>
{% endif %}

{% if cities %}
<section class="partyList module">

	
	<h3>
		City matches
	</h3>
	<table>
		<thead>
			<tr>
				<th>
					City, State
				</th>
			
			</tr>
		</thead>
		<tbody>
			{% for city in cities %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>
					<a href="/search/city/{{ city.city }}-{{city.state}}/" style="display:inline;">{{ city.city|highlightsearchterm:query|safe }}, {{ city.state }}</a>
				</td>
				
			</tr>
			{% endfor %}
			</tbody>
		</table>
		
	</section>
{% endif %}

{% if entertainments %}
<section class="partyList module">

	
	<h3>
		Entertainment matches
	</h3>
	<table>
		<thead>
			<tr>
				<th>
					Entertainment type
				</th>
			
			</tr>
		</thead>
		<tbody>
			{% for entertainment in entertainments %}
			<tr class="{% cycle 'odd' 'even' %}">
				<td>
					<a href="/search/entertainment_type/{{ entertainment.entertainment }}/" style="display:inline;">{{ entertainment.entertainment|highlightsearchterm:query|safe }}</a> 
				</td>
				
			</tr>
			{% endfor %}
			</tbody>
		</table>
		
	</section>
{% endif %}

{% endblock %}
	
	