{% extends "publicsite_redesign/sidebar_base.html" %}

{% block title %}{% if doc.entertainment %}{{ doc.entertainment }}{% endif %} {% if doc.beneficiaries.all  %} for {% for ben in doc.beneficiaries.all %}{{ ben.name }} {% endfor %}{% endif %} - {{ block.super }}{% endblock %}


{% block headjs %}<script src="http://www.scribd.com/javascripts/view.js"></script>
<script type="text/javascript" src="http://cdn.gigya.com/js/gigyaGAIntegration.js" ></script>
{% endblock %}

{% block containerclass %}module nineCol colLt last event wSide{% endblock %}



{% block mainbar %}

<div class="oneCol colLt">
	<time pubdate=""><span class="month">{{ doc.start_date|date:"N"}}</span><span class="day">{{ doc.start_date|date:"d"}}</span><span class="year">{{ doc.start_date|date:"Y"}}</span></time>
	<div class="gigya party" style="margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px;" id="share-buttons"></div>

	
</div>
<div class="eightCol colRt">
	<div class="description">
		<h2>
			<span class="type">{% if doc.entertainment %}{{ doc.entertainment }}{% endif %}</span> {% if doc.beneficiaries.all  %} for {% for ben in doc.beneficiaries.all %}{{ ben.name }} {% endfor %}{% endif %}</a>
		</h2>

	</div>
	<dl class="clearfix">



			{% with doc.hosts.all as hosts %}
			{% if hosts %}
		    <dt>Hosted by</dt><dd> {% for host in hosts %}<a href="{% url partytime_search 'Host' host|urlencode %}">{{ host }}</a> {% endfor %}</dd>
			{% endif %}
			{% endwith %}

		    <dt>When</dt> 

		    <dd>{{ doc.start_date|date:"N jS, Y" }}
            {% if doc.start_time and not doc.end_date %}
			({{ doc.start_time|time:"f a" }}{% if doc.end_time %} - {{ doc.end_time|time:"f a" }}{% endif %})
            {% endif %}
            {% if doc.end_date %}
            {% if doc.start_time %}({{ doc.start_time|time:"f a" }}){% endif %}
                - {{ doc.end_date|date:"N jS, Y" }}
                {% if doc.end_time %}({{ doc.end_time|time:"f a" }}){% endif %}
            {% endif %}
			</dd>
			{% if doc.venue.venue_name %}<dt>Where</dt> <dd><a href="{% url partytime_search 'Venue_Name' doc.venue.venue_name|urlencode %}">{{ doc.venue.venue_name }}</a> {% if doc.venue.venue_address %} - {{ doc.venue.venue_address }}{% endif %}</dd>{% endif %}
			{% if doc.entertainment %}<dt>Type of Event</dt><dd> <a href="{% url partytime_search 'Entertainment_Type' doc.entertainment|urlencode %}">{{ doc.entertainment }}</a></dd>{% endif %}
				{% with doc.other_members.all as other_members %}
				{% if other_members %}
			    <dt>Other Lawmakers Mentioned</dt><dd> {% for other_member in other_members %} <a href="{% url partytime_search 'Other_Members_of_Congress' other_member.name|urlencode %}">{{ other_member }}</a> {% if other_member.all_leadership_positions %}({{ other_member.all_leadership_positions|join:"; " }}){% endif %}{% endfor %}</dd>
				{% endif %}
				{% endwith %}
				
				
				{% if doc.contributions_info %}<dt>Contribution Information</dt><dd> {{ doc.contributions_info }}</dd>{% endif %}
				{% if doc.make_checks_payable_to %}<dt>Make Checks Payable To</dt><dd> {{ doc.make_checks_payable_to }} - {{ doc.checks_payable_to_address }}</dd>{% endif %}
				{% if doc.committee_id %}<dt>Committee ID</td><dd> {{ doc.committee_id }}</dd>{% endif %}
				{% if doc.rsvp_info %}<dt>RSVP</dt><dd> {{ doc.rsvp_info }}</dd>{% endif %}
				{% if doc.event__paid_for_by %}<dt>Event Paid for by</dt><dd> {{ doc.event__paid_for_by }}</dd>{% endif %}
				{% if doc.distribution_paid_for_by %}<dt>Distribution Paid for by</dt><dd> {{ doc.distribution_paid_for_by }}</dd>{% endif %}	
		
	</dl>
	<a class="contribute" href="mailto:partytime@sunlightfoundation.com">Suggest edits to event details</a>
	<div class="module inviteDoc sevenCol" id="embedded_doc">	
		<script type="text/javascript">
	   		var scribd_doc = scribd.Document.getDocFromUrl('http://files.politicalpartytime.org/pdfs{{ doc.pdf_document_link }}', 'pub-43329585085964116591');
	   		scribd_doc.addParam("height", 700);
	   		scribd_doc.addParam("width", 530);
			scribd_doc.addParam("public", false);
	   		scribd_doc.write('embedded_doc');
		</script>	
	</div>
</div>

{% endblock %}

{% block js %}
<script src="http://cdn.gigya.com/js/socialize.js?apiKey=3_BLRB_2LlQJZDUW1wb9_ZOps-sOnnzA_e6xxNSwJBBGoB-SavmPAKHkaVVZPE5Kx8"></script>
<script>
    $(document).ready(function() {
        var ua = new gigya.socialize.UserAction();
        var params = {
            containerID: 'share-buttons',
            iconsOnly: true,
            noButtonBorders: true,
            layout: 'vertical',
            shareButtons: [
                {
                    provider: 'facebook'
                },
                {
                    provider: 'twitter',
                    related: 'sunfoundation',
                    via: 'sunfoundation'
                },
                {
                    provider: 'googleplus'
                },
                {
                    provider: 'email'
                }
            ],
            showCounts: 'right',
            userAction: ua
        };
        gigya.socialize.showShareBarUI(params);
    });
</script>
{% endblock %}