{% extends "publicsite_redesign/base.html" %}
{% load partytime_redesign %}

{% block headjs %}{% endblock %}

{% block container %}
<div class="{% block containerclass %}module nineCol colLt last wSide{% endblock %}">
{% block mainbar %}{% endblock %}
</div>
{% endblock %}


{% block nav-blog %}{% endblock %}
{% block nav-calendar %}{% endblock %}
{% block nav-api %}{% endblock %}
{% block nav-faq %}{% endblock %}
{% block nav-about %}{% endblock %}
{% block nav-contact %}{% endblock %}

{% block sidebar %}

{% load cache %}
{% cache 10 'partytime_sidebar'  %}
{% sidebarcontent %}
{% endcache %}

{% endblock %}