{% extends "publicsite_redesign/base.html" %}


{% block container %}

<div id="blog_post">
<h2>Fundraiser Spots Around the Capitol</h2>
<p style="width: 900px">
Since Party Time's beginnings in 2008 and the fall of 2010, we entered thousands of invites  around D.C. Of the invitations made public during that time period, we found 126 townhouses and offices around the Capitol that are used for fundraisers, over 70 percent of which are run by lobbyists or groups that hire lobbyists. Two thirds of the 126 venues are Capitol Hill townhouses, according to an analysis of Party Time's database of invitations.
</p>

<iframe src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/2010/townhouses/index.html?r={{ timestamp }}" width="920" height="4000" scrollbars="no"  frameborder=0></iframe>

<p style="width: 900px; font-style: italic;">Note: Julie Domenick, Home Depot and former Rep. Tom Feeney have moved on to new addresses. Because their former address was used for fundraisers the past few years, they have been included.</p>

</div>

{% endblock container %}

