{% extends "publicsite_redesign/sidebar_base.html" %}

{% block title %}Upload - {{ block.super }}{% endblock %}


		
{% block mainbar %}


<h2>Upload an Invitation</h2>
<div class="email form">

	<p>
		Simply upload the invitation using the "choose file" button. Please feel free to submit your invitation in any format - as a Word document, PDF, image and so forth. If you would prefer to get us the invitation in some other way, or you have so many invitations that you need a different method to get them to us, please send an email to <a href="mailto:partytime@sunlightfoundation.com">partytime@sunlightfoundation.com</a>.
	</p>

	<p>
		We promise anonymity - your name will not be attached to the invitation, and we will not share that you sent it to us. To ensure your privacy, it is helpful if you remove any personally identifiable information, such as an email header. However, we also do a check to remove such information before posting invitations.
	</p>
	  <form action="{% url partytime_upload %}" method="post" enctype="multipart/form-data">{% csrf_token %}

		<ul>
			<li class="fileUpload">
				<label>Your name:</label>
				<input type="file" name="pdf">
			</li>
			</li>
				<button type="submit" value="Sign up"/>Upload</button>
			</li>
		</ul>
	</form>
</div>

{% endblock %}
