{% extends "publicsite/base.html" %}

{% block content %}

	<img src="http://media.sunlightprojects.org/partytime/images/{{ snapshot_image_name }}.png">
<div id="cmte_detail">
	<a href="/committee/">
		<img src="http://media.sunlightprojects.org/partytime/images/committees.png" border="0" alt="Parties by Committee Membership">
	</a> 
<h4>{{cmte.title}}</h4>
<h5>{{docset|length}} parties since {{since_year}}</h5>
</div>
<div id="committee_members">
	<p><strong>Committee Members:</strong>
{% for mem in members %}<a href="/search/Beneficiary/{{mem.name}}/">{{mem.name}}</a>{% for s in summary %}{%ifequal s.0 mem.id%} ({{s.2}}){%endifequal%}{%endfor%}{%if not forloop.last%}, {%endif%}{%endfor%}
	</p>
</div>



	{% for doc in docset %}
		<div id="summary_container">
			<div id="summary_topbar">
				<div id="summary_date">
					<img src="http://media.sunlightprojects.org/partytime/images/date.png">
					<span class="summary_date">{{ doc.start_date|date:"N jS, Y" }}</span>
					<span class="summary_time">({{ doc.start_time|time:"g:iA" }} - {{ doc.end_time|time:"g:iA" }})</span>
				</div>
				<div id="summary_invite">
					<a href="/party/{{ doc.id }}/">
						<img src="http://media.sunlightprojects.org/partytime/images/page_white_text.png">
					</a>
					<a href="/party/{{ doc.id }}/">View Invitation</a>
				</div>
			</div>
			<div id="summary_data">
				<ul>
					{% if doc.entertainment.entertainment_type or doc.venue.venue_name %}
						<li>
							{% if doc.entertainment.entertainment_type %}<span class="detail_head">{{ doc.entertainment.entertainment_type }}</span>{% endif %}
							{% if doc.venue.venue_name %}@ <a href="/search/Venue_Name/{{ doc.venue.venue_name }}/">{{ doc.venue.venue_name }}</a>{% endif %}
						</li>
					{% endif %}
					
					{% with doc.beneficiaries.all as beneficiaries %}
					{% if beneficiaries %}
					    <li>
    					        <span class="detail_head">For:</span>
    					        {% for ben in beneficiaries %}<a href="/search/Beneficiary/{{ ben.name }}/">{{ ben }}</a>  {% endfor %}	    
    					</li>
    				{% endif %}
    				{% endwith %}
    				
    				{% with doc.hosts.all as hosts %}
					{% if hosts %}
						<li><span class="detail_head">Hosted By:</span> {% for host in hosts %}<a href="/search/Host/{{ host }}/">{{ host }}</a> {% endfor %}</li>
					{% endif %}
					{% endwith %}
					
				</ul>
			</div>
		</div>
		{% endfor %}
{% endblock %}
