{% extends "publicsite/base.html" %}

{% block sidebar %}
Search blog: <form method="GET" action="/"><input type="text" name="term"/></form><br/>
	{% include "publicsite/includes/about.html" %}
{% endblock %}

{% block content %}
<a href="http://blog.politicalpartytime.org"><img src="http://media.sunlightprojects.org/partytime/images/party_blog_header.png" border="0"></a>
<a href="http://blog.politicalpartytime.org/feed/"><img src="http://media.sunlightprojects.org/partytime/images/party_blog_header_rss.png" border="0"></a>
	<!--starts a blog post-->
	
	{% for post in blog_posts %}

		<div id="blog_post">
		
			<div class="blog_meta">
				<span class="blog_category red2black">
					{% for c in post.categories %}
						<a href="http://blog.politicalpartytime.org/category/{{ c.slug }}/">{{ c.name|safe }}</a>
					{% endfor %}
				</span>
				&bull; POSTED - {{ post.post_date.month }}.{{post.post_date.day}}.{{post.post_date.year}} BY {{post.author.user_name}}
			</div>
			
			<h2><a href="{{ post.guid }}">{{ post.title }}</a></h2>
			
			<div class="the_post" id="wp_blogpost">
				{{ post.clean_content|safe|linebreaks }}
					<span class="comment_link">
					<a href="{{ post.guid }}#comments">{{ post.comment_count}} comments</a>
				</span>
			</div>
			
			<div class="the_tags red2black">TAGS:
				{% for t in post.tags %}
					<a href="http://blog.politicalpartytime.org/tag/{{ t.slug }}/">{{ t.name|safe }}</a>{% if not forloop.last %},{% endif %}
				{% endfor %}
			</div>
			
		</div> 
		
	{% endfor %}
	<div class="red2black" style="margin-bottom:2em;"><a href="http://blog.politicalpartytime.org/page/2/">&larr; Previous Party Time Posts</a></div>
{% endblock %}
