{% extends "publicsite/base.html" %}

{% block sidebar %}
    Search blog: <form method="GET" action="/"><input type="text" name="term"/></form><br/>
	{% include "publicsite/includes/about.html" %}
	{{ block.super }}
{% endblock %}

{% block content %}
<a href="/blog/"><img src="http://media.sunlightprojects.org/partytime/images/party_blog_header.png" border="0"></a>
<a href="http://blog.politicalpartytime.org/feed/"><img src="http://media.sunlightprojects.org/partytime/images/party_blog_header_rss.png" border="0"></a>
	<!--starts a blog post-->
	
	{% for post in post_list %}

		<div id="blog_post">
		    {% include "wordpress/post.html" %}
		</div> 
		
	{% endfor %}
	<div class="red2black" style="margin-bottom:2em;"><a href="/blog/?page=2">&larr; Previous Party Time Posts</a></div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var disqus_shortname = 'politicalpartytime';
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
{% endblock %}
