{% extends "publicsite/base.html" %}


{% block content %}

    <h1>{{ title }}</h1>

    {% for doc in page.object_list %}


		<div id="summary_container">
			<div id="summary_topbar">
				<div id="summary_date">
					<img src="http://media.sunlightprojects.org/partytime/images/date.png">
					<span class="summary_date">{{ doc.start_date|date:"N jS, Y" }}</span>
					<span class="summary_time">({{ doc.start_time|time:"g:iA" }} - {{ doc.end_time|time:"g:iA" }})</span>
				</div>
				<div id="summary_invite">
                    <a href="{% url partytime_party_detail doc.id %}">
						<img src="http://media.sunlightprojects.org/partytime/images/page_white_text.png">
					</a>
                    <a href="{% url partytime_party_detail doc.id %}">View Invitation</a>
				</div>
			</div>
			<div id="summary_data">
				<ul>
					{% if doc.entertainment or doc.venue.venue_name %}
						<li>
							{% if doc.entertainment %}<span class="detail_head">{{ doc.entertainment }}</span>{% endif %}
                            {% if doc.venue.venue_name %}@ <a href="{% url partytime_search 'Venue_Name' doc.venue.venue_name|urlencode %}">{{ doc.venue.venue_name }}</a>{% endif %}
						</li>
					{% endif %}
					
					{% with doc.beneficiaries.all as beneficiaries %}
					{% if beneficiaries %}
					    <li>
    					        <span class="detail_head">For:</span>
                                {% for ben in beneficiaries %}<a href="{% if ben.crp_id %}{% url partytime_pol_detail ben.crp_id %}{% else %}{% url partytime_search 'Beneficiary' ben.name|urlencode %}{% endif %}">{{ ben }}</a>  
                                {% if ben.affiliate %}
                                (<a href="{% if ben.crp_id %}{% url partytime_pol_detail ben.crp_id %}{% else %}{% url partytime_search 'Beneficiary' ben.affiliate|urlencode %}{% endif %}">{{ ben.affiliate }}</a>)
                                {% endif %}

                                {% ifequal pagetype 'committee' %}
                                {% if ben.leadership_positions %}
                                ({% for membership in ben.leadership_positions %}{{ membership.position }}, <a href="{{ membership.committee.get_absolute_url }}">{{ membership.committee }}</a>{% endfor %})
                                {% endif %}
                                {% endifequal %}

                                {% ifequal pagetype 'congressional' %}
                                {% if ben.leadershipposition_set.all %}
                                ({{ ben.leadershipposition_set.all|join:"; " }})
                                {% endif %}
                                {% endifequal %}

                                {% endfor %}	    
    					</li>
    				{% endif %}
    				{% endwith %}

                    {% with doc.other_members.all as other_members %}
                    {% if other_members %}
                    <li><span class="detail_head">Other members:</span>
                                {% for member in other_members %}<a href="{% if member.crp_id %}{% url partytime_pol_detail member.crp_id %}{% else %}{% url partytime_search 'membereficiary' member.name|urlencode %}{% endif %}">{{ member }}</a>  

                                {% ifequal pagetype 'committee' %}
                                {% if member.leadership_positions %}
                                ({% for membership in member.leadership_positions %}{{ membership.position }}, <a href="{{ membership.committee.get_absolute_url }}">{{ membership.committee }}</a>{% if forloop.revcounter0 > 0 %}; {% endif %}{% endfor %})
                                {% endif %}
                                {% endifequal %}

                                {% ifequal pagetype 'congressional' %}
                                {% if member.leadershipposition_set.all %}
                                ({{ member.leadershipposition_set.all|join:"; " }})
                                {% endif %}
                                {% endifequal %}

                                {% if forloop.last %}
                                {% else %},
                                {% endif %}

                                {% endfor %}	    
                        </li>
                    {% endif %}
                    {% endwith %}
    				
    				{% with doc.hosts.all as hosts %}
					{% if hosts %}
                    <li><span class="detail_head">Hosted By:</span> {% for host in hosts %}<a href="{% url partytime_search 'Host' host|urlencode %}">{{ host }}</a> {% endfor %}</li>
					{% endif %}
					{% endwith %}
					
				</ul>
			</div>
		</div>


    {% endfor %}

    {% include "publicsite/paginator.html" %}

{% endblock %}
