{% extends "publicsite/base.html" %}


{% block content %}

<div id="blog_post">
<h2>Fundraiser Spots Around the Capitol</h2>
<p style="width: 900px">
There are 126 townhouses and offices around the Capitol that are used for fundraisers, over 70 percent of which are run by lobbyists or groups that hire lobbyists. Two thirds of the 126 venues are Capitol Hill townhouses, according to an analysis of Party Time's database of invitations.
</p>

<iframe src="http://assets.sunlightfoundation.com.s3.amazonaws.com/reporting/2010/townhouses/index.html?r={{ timestamp }}" width="920" height="4000" scrollbars="no"></iframe>

<p style="width: 900px; font-style: italic;">Note: Julie Domenick, Home Depot and former Rep. Tom Feeney have moved on to new addresses. Because their former address was used for fundraisers the past few years, they have been included.</p>

</div>

{% endblock content %}

{% block upcoming_events %}{% endblock %}
