{% extends "publicsite_redesign/sidebar_base.html" %}

{% block title %}Contact Us - {{ block.super }}{% endblock %}

{# Set the nav highlight #}
{% block nav-contact %}class="active"{% endblock %}
		
{% block mainbar %}

<h2>Contact Us</h2>

<p>
	For press inquiries, contact Sunlight&#8217;s Communications Director at 202/742-1520 ext 236 or via Sunlight&#8217;s <a href="http://www.sunlightfoundation.com/contact/">contact form</a> and be sure to include &#8220;Attn: Communications Director&#8221; in the first line of your message.
</p>

<p>
	To send us invitations, please visit our <a href="/upload/">upload page.</a>
</p>
<div class="email form">
	<p>
		To report any errors in data entry or comments on the site, please send an email using the form below.  
	</p>

    <form action="." method="post" id="contactus">{% csrf_token %}	

		<ul>
			<li><label for="id_name">Your name:</label> <input id="id_name" type="text" class="required" name="name" maxlength="100" /></li>
			<li><label for="id_email">Your email address:</label> <input id="id_email" type="text" class="required" name="email" maxlength="200" /></li>
			<li><label for="id_body">Your message:</label> <textarea id="id_body" rows="10" cols="40" name="body" class="required"></textarea></li>
			
			<li><button type="submit" value="Send"/>Send</button></li>
		</ul>
	</form>
</div>	

{% endblock %}