{% load capture truncate %}
{% captureas description %}{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.content|striptags|truncatewords:50 }}{% endif %}{% endcaptureas %}
{% captureas share_title %}{{ post.title|truncatechars:90|safe }} via @SFpartytime{% endcaptureas %}

<article class="module">
		<h1 class="h2">
			{{ post.title }}
		</h1>
		<div class="entryMetaData">
			<address class="author">{{post.author.display_name }}</address>
			<time datetime="{{ post.post_date|date:"c"}}" class="published" pubdate="">
			{{ post.post_date|date:"F j, Y, P" }}
			</time>
		</div>


		<ul class="clearfix social">
		<li id="share-buttons" class="share-buttons"
		    data-socialite="auto"
            data-services="facebook,twitter,googleplus,email"
            data-options="showCounts=right&amp;description={{ description|safe|urlencode }}&amp;title={{ post.title|safe|urlencode }}&amp;url={{ current_url|urlencode }}"
            data-twitter-options="defaultText={{ share_title|safe|urlencode }}"></li>
		</ul>

		<div class="clear"></div>
	{{ post.content|safe|linebreaks }}
	{% if post_list %}
	    <span class="comment_link">
	        <a href="http://politicalpartytime.org{{ post.get_absolute_url }}#disqus_thread">Comments</a>
	    </span>
	{% endif %}

</article>
<div class="tags">
	<h4>
		Tags
	</h4>
	<ul>
			{% for t in post.tags %}
	    		<li><a href="{% url wp_taxonomy_term t.slug %}">{{ t.name|safe }}</a></li>
	    	{% endfor %}

	</ul>
		<div class="clear"></div>
	</div>
