{% extends "publicsite/base.html" %}
{% load media %}

{% block sidebar %}
    <div id="rt_col_about">
        <div class="about_content"> 
            <p><strong>Sunlight&#39;s Party Time </strong> is a project to track parties for members of Congress or congressional candidates that happen all year round in Washington, D.C. and beyond. (<a href="javascript:toggleLayer('about_more');">read more</a>)</p> 
            <div id="about_more"> 
                <p>We also post information we receive about parties where members of Congress are expected to participate&mdash;such as convention or inaugural parties.</p> 
                <p>Since we don&#39;t hear about all the parties, you can also tell us if you know where the party is and we don&#39;t.</p> 
            </div>
        </div>
    </div>
    <div id="got_invites">
        <a href="/upload/"><img src="{% media_url "images/got_invites.png" %}"></a>
    </div>
{% endblock %}

{% block content %}

    <a href="/blog/">
        <img src="{% media_url "images/party_blog_header.png" %}">
    </a>
    <a href="http://blog.politicalpartytime.org/feed/">
        <img src="{% media_url "images/party_blog_header_rss.png" %}">
    </a>
    
    {% if term %}
        <h3>Posts tagged <em>{{ term|upper }}</em></h3>
    {% endif %}
    {% if category %}
        <h3>Posts in <em>{{ category|upper }}</em></h3>
    {% endif %}
    
	<!--starts a blog post-->
	
	{% for post in post_list %}

		<div id="blog_post">
		    {% include "wordpress/post.html" %}
		</div> 
		
	{% endfor %}
	
	{% if page_obj and page_obj.has_next %}
        <div class="red2black" style="margin-bottom:2em;">
            <a href="?page={{ page_obj.next_page_number }}">&larr; Previous Party Time Posts</a>
        </div>
    {% endif %}
	
{% endblock %}
