{% extends "publicsite_redesign/sidebar_base.html" %}

{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{% if post.excerpt %}{{ post.excerpt }}{% else %}{{ post.content|striptags|truncatewords:50 }}{% endif %}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="http://politicalpartytime.org{{ post.get_absolute_url }}">
{% endblock %}
		
		
{% block headjs %}<script type="text/javascript" src="http://cdn.gigya.com/js/gigyaGAIntegration.js" ></script>{% endblock %}

{% block mainbar %}


	    {% include "wordpress/post.html" %}

<div class="comments module last" id="disqus_thread">
	<h3>
		Comments
	</h3>
</div>

	
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var disqus_identifer = 'http://blog.politicalpartytime.org/?p={{ post.id }}';
        var disqus_url = 'http://politicalpartytime.org{{ post.get_absolute_url }}';
        var disqus_shortname = 'politicalpartytime';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
	<script src="http://cdn.gigya.com/js/socialize.js?apiKey=3_BLRB_2LlQJZDUW1wb9_ZOps-sOnnzA_e6xxNSwJBBGoB-SavmPAKHkaVVZPE5Kx8"></script>
	<script>
	    $(document).ready(function() {
	        var ua = new gigya.socialize.UserAction();
	        var params = {
	            containerID: 'share-buttons',
	            layout: 'horizontal',
	            shareButtons: [
	                {
	                    provider: 'facebook-like',
	                },
	                {
	                    provider: 'google-plusone'
	                },
	                {
	                    provider: 'twitter-tweet',
	                    related: 'sunfoundation',
	                    via: 'sunfoundation'
	                },
	                {
	                    provider: 'email'
	                }
	            ],
	            userAction: ua
	        };
	        gigya.socialize.showShareBarUI(params);
	    });
	</script>
{% endblock %}


