

<div id="rt_col_about">
	<div class="about_content">
		<p><strong>Sunlight&#39;s Party Time </strong> is a project to track parties for members of Congress or congressional candidates that happen all year round in Washington, D.C. and beyond. (<a href="javascript:toggleLayer('about_more');">read more</a>)</p>
		<div id="about_more">
	<p>We also post information we receive about parties where members of Congress are expected to participate&mdash;such as convention or inaugural parties.</p>
	<p>Since we don&#39;t hear about all the parties, you can also tell us if you know where the party is and we don&#39;t.</p>
		</div>
		
			</div>
</div>

<div id="twitter_box">
<a href="http://twitter.com/sfpartytime"><img src="http://media.sunlightprojects.org/partytime/images/follow_twitter.png" border="0"></a>


</div>


 