

<div id="rt_col_about">
	<div class="about_content">
		<strong>Sunlight&#39;s Party Time </strong> is a project to track parties thrown at the 2008 Democratic and Republican National Conventions as well as fundraising 
		activities by all lawmakers running for Congress that happen all year round in Washington, D.C. and beyond. Since we don&#39;t hear about all the parties, you can also 
		tell us if you know where the party is and we don&#39;t.
		
		
	</div>
</div>

<div id="twitter_box">
<a href="http://twitter.com/sfpartytime"><img src="http://media.sunlightprojects.org/partytime/images/follow_twitter.png" border="0"></a>
<div id="twitter_div"><ul id="twitter_update_list"></ul></div>

</div>