<img src="http://media.sunlightprojects.org/partytime/images/labels_convention.png" border="0">
<div id="rt_col_event">
<div id="rt_col_header"><span class="rt_col_head_copy">Political Convention Parties</span></div>

<div id="event_listing">
<ul><li>
<a href="/convention/democratic/" class="listings"><div class="event_listing_date_box">
<span class="event_listing_date"><img src="http://media.sunlightprojects.org/partytime/images/DEM_black_24.png"></span>
</div></a>

<div class="event_listing_data_box">
<a href="/convention/democratic/" class="listings">
Democratic Convention Parties<br />
August 25-28, 2008<br />
</a></div>

</li></ul>
</div>


<div id="event_listing">
<ul><li>
<a href="/convention/republican/" class="listings"><div class="event_listing_date_box">
<span class="event_listing_date"><img src="http://media.sunlightprojects.org/partytime/images/GOP_black_24.png"></span>
</div></a>

<div class="event_listing_data_box">
<a href="/convention/republican/" class="listings">
Republican Convention Parties<br />
September 1-4, 2008<br />
</a></div>

</li></ul>
</div>

<div id="event_listing">
<ul><li>
<a href="/convention/" class="listings"><div class="event_listing_date_box">
<span class="event_listing_date"><img src="http://media.sunlightprojects.org/partytime/images/balloons_black_24.png"></span>
</div></a>

<div class="event_listing_data_box">
<a href="/convention/" class="listings">
All Convention Parties<br /><br />
</a></div>

</li></ul>
</div>


</div> <!--end convention-->